body{
	background-image:url('images/22.jpg');
    background-repeat:no-repeat;
	background-size:cover;
	background-position:absolute;
	
	}




header{
	width:755px;
	position:fixed;
	right:29%;
	color:black;
	text-align:center;
	font-size:27px;
	font-family: 'Gruppo';
	
	
}
section.sek1{
	color:black;
	text-align:left;
	font-family: 'Gruppo';
	font-size:25px;
	position:fixed;
	top: 15%;
	left:25%;
	opacity:0.75;

	
}
section.sek2{
	color:white;
	position:fixed;
	top:67%;
	left:30%;
	font-family: 'Gruppo';
	font-size:22px;
	
}

section.sek3{
	color:white;
	position:fixed;
	top:67%;
	left:55%;
	font-family: 'Gruppo';
	font-size:22px;
	
}



div.slika{
    
	float:right;
	position:fixed;
	left:55%;
	top:15%;
	

}
div.slika2{
    
	float:right;
	position:fixed;
	left:55%;
	top:35%;
	

}
div.slika3{
    
	float:right;
	position:fixed;
	left:72%;
	top:15%;
	

}
div.slika4{
    
	float:right;
	position:fixed;
	left:75%;
	top:35%;
	

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
	
}

.fa-facebook {
    background: #3B5998;
    color: white;
	position:fixed;
	top:85%;
	left:15%;
}
.fa-instagram {
  background: #125688;
  color: white;
  position:fixed;
  top:75%;
  left:15%;
}

topnav {
    background-color: #333;
    overflow: hidden;
}


.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: green;
}


.topnav a.active {
    background-color: white;
    color: black;
}
	